@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 10px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  /* Specify the background image to be used */
  background: url("http://localhost:3000/background.jpg") no-repeat center
    center fixed;
  background-size: cover;

  /* Specify the background image */
  opacity: 0.3;
  z-index: -1;
}
* {
  @apply font-rajdhani;
  @apply font-rajdhani;
}
